body {
  background-color: #eee;
}
body, h1, p {
  font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.container {
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}
#map { height: 100% }
